# Data Collation L3Cube dataset

In [40]:
import pandas as pd

In [86]:
l3_test = pd.DataFrame(pd.read_excel('hate_bin_test.xlsx'))
l3_train = pd.DataFrame(pd.read_excel('hate_bin_train.xlsx'))
l3_val = pd.DataFrame(pd.read_excel('hate_bin_valid.xlsx'))

In [43]:
l3_test.head()

                                                text label
0  @GajuNaik20 @NitinRaut_INC अबे झाटु लालबहादूर ...   HOF
1  @khadaksingh_ अंड नसलेल्या भक्तांना मोदी फायद्...   HOF
2  @BhatkhalkarA अरे माठ्या त्यांच्याकडून काहीच श...   HOF
3  हे हिंदूंचे सरकार नव्हे तर लांड्यांचे सरकार ! ...   HOF
4  @_prashantkadam कदम रडू नको तुझा मालक कोर्टात ...   HOF

In [44]:
l3_test['label'].value_counts()

HOF    1875
NOT    1875
Name: label, dtype: int64

In [45]:
l3_test['uid']  = 0

In [46]:
for idx in range(len(l3_test)):
    l3_test.loc[idx,'uid'] = 'l3cube_mr_test_'+str(idx)

In [47]:
l3_test

,text,label,uid
0,@GajuNaik20 @NitinRaut_INC अबे झाटु लालबहादूर ...,HOF,l3cube_mr_test_0
1,@khadaksingh_ अंड नसलेल्या भक्तांना मोदी फायद्...,HOF,l3cube_mr_test_1
2,@BhatkhalkarA अरे माठ्या त्यांच्याकडून काहीच श...,HOF,l3cube_mr_test_2
3,हे हिंदूंचे सरकार नव्हे तर लांड्यांचे सरकार ! ...,HOF,l3cube_mr_test_3
4,@_prashantkadam कदम रडू नको तुझा मालक कोर्टात ...,HOF,l3cube_mr_test_4
...,...,...,...
3745,TET Exam Scam : शिवकुमार चौकशीत तुकाराम सुपे य...,NOT,l3cube_mr_test_3745
3746,"अरे भडव्या जावेद अख्तर RSS, विश्व हिंदू परिषद ...",NOT,l3cube_mr_test_3746
3747,"जी-स्ट्रिंग प्रकारचा पोशाख, सूचक ठिकाणी लावलेल...",NOT,l3cube_mr_test_3747
3748,@AdvBhushanRaut मग मतदान कश्यासाठी करता... सरक...,NOT,l3cube_mr_test_3748
3749,@raam_bhatte @BadeVilas ते दोन्ही डगरी वर पाय ...,NOT,l3cube_mr_test_3749

In [48]:
l3_test.label.replace('HOF', 1,inplace=True)
l3_test.label.replace('NOT', 0,inplace=True)

In [49]:
l3_test

,text,label,uid
0,@GajuNaik20 @NitinRaut_INC अबे झाटु लालबहादूर ...,1,l3cube_mr_test_0
1,@khadaksingh_ अंड नसलेल्या भक्तांना मोदी फायद्...,1,l3cube_mr_test_1
2,@BhatkhalkarA अरे माठ्या त्यांच्याकडून काहीच श...,1,l3cube_mr_test_2
3,हे हिंदूंचे सरकार नव्हे तर लांड्यांचे सरकार ! ...,1,l3cube_mr_test_3
4,@_prashantkadam कदम रडू नको तुझा मालक कोर्टात ...,1,l3cube_mr_test_4
...,...,...,...
3745,TET Exam Scam : शिवकुमार चौकशीत तुकाराम सुपे य...,0,l3cube_mr_test_3745
3746,"अरे भडव्या जावेद अख्तर RSS, विश्व हिंदू परिषद ...",0,l3cube_mr_test_3746
3747,"जी-स्ट्रिंग प्रकारचा पोशाख, सूचक ठिकाणी लावलेल...",0,l3cube_mr_test_3747
3748,@AdvBhushanRaut मग मतदान कश्यासाठी करता... सरक...,0,l3cube_mr_test_3748
3749,@raam_bhatte @BadeVilas ते दोन्ही डगरी वर पाय ...,0,l3cube_mr_test_3749

In [50]:
l3_test.rename(columns = {'label':'label_yn'}, inplace = True)

In [51]:
first_column = l3_test.pop('uid')
  

l3_test.insert(0, 'uid', first_column)

In [52]:
l3_test

,uid,text,label_yn
0,l3cube_mr_test_0,@GajuNaik20 @NitinRaut_INC अबे झाटु लालबहादूर ...,1
1,l3cube_mr_test_1,@khadaksingh_ अंड नसलेल्या भक्तांना मोदी फायद्...,1
2,l3cube_mr_test_2,@BhatkhalkarA अरे माठ्या त्यांच्याकडून काहीच श...,1
3,l3cube_mr_test_3,हे हिंदूंचे सरकार नव्हे तर लांड्यांचे सरकार ! ...,1
4,l3cube_mr_test_4,@_prashantkadam कदम रडू नको तुझा मालक कोर्टात ...,1
...,...,...,...
3745,l3cube_mr_test_3745,TET Exam Scam : शिवकुमार चौकशीत तुकाराम सुपे य...,0
3746,l3cube_mr_test_3746,"अरे भडव्या जावेद अख्तर RSS, विश्व हिंदू परिषद ...",0
3747,l3cube_mr_test_3747,"जी-स्ट्रिंग प्रकारचा पोशाख, सूचक ठिकाणी लावलेल...",0
3748,l3cube_mr_test_3748,@AdvBhushanRaut मग मतदान कश्यासाठी करता... सरक...,0
3749,l3cube_mr_test_3749,@raam_bhatte @BadeVilas ते दोन्ही डगरी वर पाय ...,0

In [53]:
l3_test.label_yn.value_counts()

1    1875
0    1875
Name: label_yn, dtype: int64

In [54]:
l3_test.to_csv('l3cube_mr_test.csv', header=True, index=False)

In [57]:
l3_test.loc[83]

uid                                         l3cube_mr_test_83
text        मुंबईतील गटारहूंगे @ShelarAshish &amp; @KiritS...
label_yn                                                    1
Name: 83, dtype: object

In [59]:
l3_test = pd.DataFrame(pd.read_csv('l3cube_mr_test.csv'))

In [62]:
l3_train.head()

                                                text label
0           @Rohitkh76543 @PawarSpeaks तू कोण लवड्या   HOF
1  @mohitbharatiya_ लवड्या अगोदरच रडायला लागलास तू 😂   HOF
2  कुठं तरी आईघाल जा लवड्या, काही केला तरी तुझी क...   HOF
3  तेलतुंबड्या सारख्या च्या नाजायज पैदाइशीचा कुत्...   HOF
4  @TV9Marathi @BJP4Maharashtra नेता...???मादरचोद...   HOF

In [63]:
l3_train['label'].value_counts()

HOF    15000
NOT    15000
Name: label, dtype: int64

In [64]:
l3_train['uid']  = 0

In [65]:
for idx in range(len(l3_train)):
    l3_train.loc[idx,'uid'] = 'l3cube_mr_train_'+str(idx)

In [66]:
l3_train

,text,label,uid
0,@Rohitkh76543 @PawarSpeaks तू कोण लवड्या,HOF,l3cube_mr_train_0
1,@mohitbharatiya_ लवड्या अगोदरच रडायला लागलास तू 😂,HOF,l3cube_mr_train_1
2,"कुठं तरी आईघाल जा लवड्या, काही केला तरी तुझी क...",HOF,l3cube_mr_train_2
3,तेलतुंबड्या सारख्या च्या नाजायज पैदाइशीचा कुत्...,HOF,l3cube_mr_train_3
4,@TV9Marathi @BJP4Maharashtra नेता...???मादरचोद...,HOF,l3cube_mr_train_4
...,...,...,...
29995,"@abpmajhatv आज कल्याण, मिलन, टाइम बाजार सट्टा ...",NOT,l3cube_mr_train_29995
29996,"मदर तेरेसा यांनी समाजातील उपेक्षित, असहाय्य व्...",NOT,l3cube_mr_train_29996
29997,"मा. ना. राजेशजी टोपे, आरोग्यमंत्री, महाराष्ट्र...",NOT,l3cube_mr_train_29997
29998,@tanmay_sabnis @BhatkhalkarA मुघलांचे 100 पिढ्...,NOT,l3cube_mr_train_29998
29999,लग्नसमारंभात गेल्यानंतर जेवणाच्या पंगतीत वाढपी...,NOT,l3cube_mr_train_29999

In [67]:
l3_train.label.replace('HOF', 1,inplace=True)
l3_train.label.replace('NOT', 0,inplace=True)

In [68]:
l3_train

,text,label,uid
0,@Rohitkh76543 @PawarSpeaks तू कोण लवड्या,1,l3cube_mr_train_0
1,@mohitbharatiya_ लवड्या अगोदरच रडायला लागलास तू 😂,1,l3cube_mr_train_1
2,"कुठं तरी आईघाल जा लवड्या, काही केला तरी तुझी क...",1,l3cube_mr_train_2
3,तेलतुंबड्या सारख्या च्या नाजायज पैदाइशीचा कुत्...,1,l3cube_mr_train_3
4,@TV9Marathi @BJP4Maharashtra नेता...???मादरचोद...,1,l3cube_mr_train_4
...,...,...,...
29995,"@abpmajhatv आज कल्याण, मिलन, टाइम बाजार सट्टा ...",0,l3cube_mr_train_29995
29996,"मदर तेरेसा यांनी समाजातील उपेक्षित, असहाय्य व्...",0,l3cube_mr_train_29996
29997,"मा. ना. राजेशजी टोपे, आरोग्यमंत्री, महाराष्ट्र...",0,l3cube_mr_train_29997
29998,@tanmay_sabnis @BhatkhalkarA मुघलांचे 100 पिढ्...,0,l3cube_mr_train_29998
29999,लग्नसमारंभात गेल्यानंतर जेवणाच्या पंगतीत वाढपी...,0,l3cube_mr_train_29999

In [69]:
l3_train.rename(columns = {'label':'label_yn'}, inplace = True)

In [70]:
first_column = l3_train.pop('uid')
  

l3_train.insert(0, 'uid', first_column)

In [71]:
l3_train

,uid,text,label_yn
0,l3cube_mr_train_0,@Rohitkh76543 @PawarSpeaks तू कोण लवड्या,1
1,l3cube_mr_train_1,@mohitbharatiya_ लवड्या अगोदरच रडायला लागलास तू 😂,1
2,l3cube_mr_train_2,"कुठं तरी आईघाल जा लवड्या, काही केला तरी तुझी क...",1
3,l3cube_mr_train_3,तेलतुंबड्या सारख्या च्या नाजायज पैदाइशीचा कुत्...,1
4,l3cube_mr_train_4,@TV9Marathi @BJP4Maharashtra नेता...???मादरचोद...,1
...,...,...,...
29995,l3cube_mr_train_29995,"@abpmajhatv आज कल्याण, मिलन, टाइम बाजार सट्टा ...",0
29996,l3cube_mr_train_29996,"मदर तेरेसा यांनी समाजातील उपेक्षित, असहाय्य व्...",0
29997,l3cube_mr_train_29997,"मा. ना. राजेशजी टोपे, आरोग्यमंत्री, महाराष्ट्र...",0
29998,l3cube_mr_train_29998,@tanmay_sabnis @BhatkhalkarA मुघलांचे 100 पिढ्...,0
29999,l3cube_mr_train_29999,लग्नसमारंभात गेल्यानंतर जेवणाच्या पंगतीत वाढपी...,0

In [72]:
l3_train.label_yn.value_counts()

1    15000
0    15000
Name: label_yn, dtype: int64

In [73]:
l3_train.to_csv('l3cube_mr_train.csv', header=True, index=False)

In [87]:
l3_val.head()

                                                text label
0  @BhatkhalkarA तुझी लायकी काय तू बोलतो कोणा बदल...   HOF
1  हिंदू धर्माबद्दल अपशब्द उगारणारा मोकाट आन उस्म...   HOF
2  @abpmajhatv खांडक्या,विघानसभेत अजितदादा काय बो...   HOF
3  @ashish_jadhao @AUThackeray सरकार मधला बावळट स...   HOF
4  ब्राह्मणवाद इतका वाईट, निच, आणि कपटी आहे की स्...   HOF

In [88]:
l3_val['label'].value_counts()

HOF    1875
NOT    1875
Name: label, dtype: int64

In [89]:
l3_val['uid']  = 0

In [90]:
for idx in range(len(l3_val)):
    l3_val.loc[idx,'uid'] = 'l3cube_mr_val_'+str(idx)

In [91]:
l3_val

,text,label,uid
0,@BhatkhalkarA तुझी लायकी काय तू बोलतो कोणा बदल...,HOF,l3cube_mr_val_0
1,हिंदू धर्माबद्दल अपशब्द उगारणारा मोकाट आन उस्म...,HOF,l3cube_mr_val_1
2,"@abpmajhatv खांडक्या,विघानसभेत अजितदादा काय बो...",HOF,l3cube_mr_val_2
3,@ashish_jadhao @AUThackeray सरकार मधला बावळट स...,HOF,l3cube_mr_val_3
4,"ब्राह्मणवाद इतका वाईट, निच, आणि कपटी आहे की स्...",HOF,l3cube_mr_val_4
...,...,...,...
3745,"मुंबई हे आंतरराष्ट्रीय दर्जाचे, वेगवान शहर बना...",NOT,l3cube_mr_val_3745
3746,शब्द - झामल झामल झामल झामल (adverb) - actually...,NOT,l3cube_mr_val_3746
3747,आज बोरीवली येथील स्वामी विवेकानंद वाचलनालय आणि...,NOT,l3cube_mr_val_3747
3748,मानवी मेंदूची क्षमता मर्यादित असते. तो एकाच वे...,NOT,l3cube_mr_val_3748
3749,@aniruddha3365 अष्टावक्र त्यांचे सदगुरू अष्ट...,NOT,l3cube_mr_val_3749

In [92]:
l3_val.label.replace('HOF', 1,inplace=True)
l3_val.label.replace('NOT', 0,inplace=True)

In [93]:
l3_val

,text,label,uid
0,@BhatkhalkarA तुझी लायकी काय तू बोलतो कोणा बदल...,1,l3cube_mr_val_0
1,हिंदू धर्माबद्दल अपशब्द उगारणारा मोकाट आन उस्म...,1,l3cube_mr_val_1
2,"@abpmajhatv खांडक्या,विघानसभेत अजितदादा काय बो...",1,l3cube_mr_val_2
3,@ashish_jadhao @AUThackeray सरकार मधला बावळट स...,1,l3cube_mr_val_3
4,"ब्राह्मणवाद इतका वाईट, निच, आणि कपटी आहे की स्...",1,l3cube_mr_val_4
...,...,...,...
3745,"मुंबई हे आंतरराष्ट्रीय दर्जाचे, वेगवान शहर बना...",0,l3cube_mr_val_3745
3746,शब्द - झामल झामल झामल झामल (adverb) - actually...,0,l3cube_mr_val_3746
3747,आज बोरीवली येथील स्वामी विवेकानंद वाचलनालय आणि...,0,l3cube_mr_val_3747
3748,मानवी मेंदूची क्षमता मर्यादित असते. तो एकाच वे...,0,l3cube_mr_val_3748
3749,@aniruddha3365 अष्टावक्र त्यांचे सदगुरू अष्ट...,0,l3cube_mr_val_3749

In [94]:
l3_val.rename(columns = {'label':'label_yn'}, inplace = True)

In [95]:
first_column = l3_val.pop('uid')

l3_val.insert(0, 'uid', first_column)

In [96]:
l3_val

,uid,text,label_yn
0,l3cube_mr_val_0,@BhatkhalkarA तुझी लायकी काय तू बोलतो कोणा बदल...,1
1,l3cube_mr_val_1,हिंदू धर्माबद्दल अपशब्द उगारणारा मोकाट आन उस्म...,1
2,l3cube_mr_val_2,"@abpmajhatv खांडक्या,विघानसभेत अजितदादा काय बो...",1
3,l3cube_mr_val_3,@ashish_jadhao @AUThackeray सरकार मधला बावळट स...,1
4,l3cube_mr_val_4,"ब्राह्मणवाद इतका वाईट, निच, आणि कपटी आहे की स्...",1
...,...,...,...
3745,l3cube_mr_val_3745,"मुंबई हे आंतरराष्ट्रीय दर्जाचे, वेगवान शहर बना...",0
3746,l3cube_mr_val_3746,शब्द - झामल झामल झामल झामल (adverb) - actually...,0
3747,l3cube_mr_val_3747,आज बोरीवली येथील स्वामी विवेकानंद वाचलनालय आणि...,0
3748,l3cube_mr_val_3748,मानवी मेंदूची क्षमता मर्यादित असते. तो एकाच वे...,0
3749,l3cube_mr_val_3749,@aniruddha3365 अष्टावक्र त्यांचे सदगुरू अष्ट...,0

In [97]:
l3_val.label_yn.value_counts()

1    1875
0    1875
Name: label_yn, dtype: int64

In [98]:
l3_val.to_csv('l3cube_mr_val.csv', header=True, index=False)

In [102]:
l3_test = pd.DataFrame(pd.read_csv('l3cube_mr_test.csv'))
l3_train = pd.DataFrame(pd.read_csv('l3cube_mr_train.csv'))
l3_val = pd.DataFrame(pd.read_csv('l3cube_mr_val.csv'))

In [103]:
lst = [l3_train, l3_test, l3_val]  
l3cube= pd.concat(lst)

In [104]:
l3cube.head()

,uid,text,label_yn
0,l3cube_mr_train_0,@Rohitkh76543 @PawarSpeaks तू कोण लवड्या,1
1,l3cube_mr_train_1,@mohitbharatiya_ लवड्या अगोदरच रडायला लागलास तू 😂,1
2,l3cube_mr_train_2,"कुठं तरी आईघाल जा लवड्या, काही केला तरी तुझी क...",1
3,l3cube_mr_train_3,तेलतुंबड्या सारख्या च्या नाजायज पैदाइशीचा कुत्...,1
4,l3cube_mr_train_4,@TV9Marathi @BJP4Maharashtra नेता...???मादरचोद...,1

In [105]:
l3cube.shape

(37500, 3)

In [112]:
l3cube.head()

,uid,text,label_yn
0,l3cube_mr_train_0,@Rohitkh76543 @PawarSpeaks तू कोण लवड्या,1
1,l3cube_mr_train_1,@mohitbharatiya_ लवड्या अगोदरच रडायला लागलास तू 😂,1
2,l3cube_mr_train_2,"कुठं तरी आईघाल जा लवड्या, काही केला तरी तुझी क...",1
3,l3cube_mr_train_3,तेलतुंबड्या सारख्या च्या नाजायज पैदाइशीचा कुत्...,1
4,l3cube_mr_train_4,@TV9Marathi @BJP4Maharashtra नेता...???मादरचोद...,1

In [113]:
for idx in range(len(l3cube)):
    l3cube.loc[idx,'uid'] = 'l3cube_mr_'+str(idx)

In [114]:
l3cube.head()

           uid                                               text  label_yn
0  l3cube_mr_0           @Rohitkh76543 @PawarSpeaks तू कोण लवड्या       1.0
1  l3cube_mr_1  @mohitbharatiya_ लवड्या अगोदरच रडायला लागलास तू 😂       1.0
2  l3cube_mr_2  कुठं तरी आईघाल जा लवड्या, काही केला तरी तुझी क...       1.0
3  l3cube_mr_3  तेलतुंबड्या सारख्या च्या नाजायज पैदाइशीचा कुत्...       1.0
4  l3cube_mr_4  @TV9Marathi @BJP4Maharashtra नेता...???मादरचोद...       1.0

In [115]:
l3cube.to_csv('l3cube_mr.csv', header=True, index=False)

# DeepOffense dataset collation

In [109]:
deep_test.head()

,tweet,subtask_a,subtask_b,subtask_c
0,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,Offensive,TIN,IND
1,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,Offensive,TIN,OTH
2,तुम्ही काय गोट्या खेळायला राज्य सरकार मध्ये आ...,Offensive,TIN,OTH
3,शिवसेनेने निवडणुकीत स्वतंत्र बाणा ठेवावा.दळभद...,Offensive,TIN,GRP
4,माझा हंटर चांगलाच घुसलाय आईच्या पुच्चीत तुझ्य...,Offensive,TIN,IND

In [127]:
deep_test_new = pd.DataFrame(pd.read_csv('test_data_offensive_language_marathi_updated.csv'))
deep_train_new = pd.DataFrame(pd.read_csv('test_data_offensive_language_marathi_updated.csv'))

In [128]:
deep_test_new.head()

                                               Tweet          Class
0   माणसाची सर्वात मोठी समस्या   इतिहासाचे दाखले ...  not offensive
1    मुद्दामहून थुकत बसला  ते पण दोस्तांना बोलवून...      offensive
2   तुझे नोटिफिकेशन ऑन केलेत परंतु नाव दिसलं का श...  not offensive
3   पांडुरंग हरी  वासुदेव हरी  तु तुझ्या घरी  मी ...  not offensive
4   भेंचोद  जेव्हा कोरोना कोरोना चालू होतं तेव्हा...      offensive

In [129]:
deep_test_new.rename(columns = {'Class':'label_yn','Tweet':'text'}, inplace = True)
deep_train_new.rename(columns = {'Class':'label_yn','Tweet':'text'}, inplace = True)

In [130]:
for idx in range(len(deep_test_new)):
    deep_test_new.loc[idx,'uid'] = 'deepoffense_mr_t1_test_'+str(idx)

In [131]:
for idx in range(len(deep_train_new)):
    deep_train_new.loc[idx,'uid'] = 'deepoffense_mr_t1_train_'+str(idx)

In [132]:
deep_train_new.head()

,text,label_yn,uid
0,माणसाची सर्वात मोठी समस्या इतिहासाचे दाखले ...,not offensive,deepoffense_mr_t1_train_0
1,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,offensive,deepoffense_mr_t1_train_1
2,तुझे नोटिफिकेशन ऑन केलेत परंतु नाव दिसलं का श...,not offensive,deepoffense_mr_t1_train_2
3,पांडुरंग हरी वासुदेव हरी तु तुझ्या घरी मी ...,not offensive,deepoffense_mr_t1_train_3
4,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,offensive,deepoffense_mr_t1_train_4

In [133]:
deep_test_new.head()

,text,label_yn,uid
0,माणसाची सर्वात मोठी समस्या इतिहासाचे दाखले ...,not offensive,deepoffense_mr_t1_test_0
1,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,offensive,deepoffense_mr_t1_test_1
2,तुझे नोटिफिकेशन ऑन केलेत परंतु नाव दिसलं का श...,not offensive,deepoffense_mr_t1_test_2
3,पांडुरंग हरी वासुदेव हरी तु तुझ्या घरी मी ...,not offensive,deepoffense_mr_t1_test_3
4,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,offensive,deepoffense_mr_t1_test_4

In [134]:
deep_test_new.label_yn.replace('offensive', 1,inplace=True)
deep_test_new.label_yn.replace('not offensive', 0,inplace=True)
deep_train_new.label_yn.replace('offensive', 1,inplace=True)
deep_train_new.label_yn.replace('not offensive', 0,inplace=True)

In [135]:
first_column = deep_train_new.pop('uid')

deep_train_new.insert(0, 'uid', first_column)

In [136]:
first_column = deep_test_new.pop('uid')
  

deep_test_new.insert(0, 'uid', first_column)

In [137]:
deep_test_new.head()

,uid,text,label_yn
0,deepoffense_mr_t1_test_0,माणसाची सर्वात मोठी समस्या इतिहासाचे दाखले ...,0
1,deepoffense_mr_t1_test_1,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,1
2,deepoffense_mr_t1_test_2,तुझे नोटिफिकेशन ऑन केलेत परंतु नाव दिसलं का श...,0
3,deepoffense_mr_t1_test_3,पांडुरंग हरी वासुदेव हरी तु तुझ्या घरी मी ...,0
4,deepoffense_mr_t1_test_4,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,1

In [138]:
deep_train_new.head()

,uid,text,label_yn
0,deepoffense_mr_t1_train_0,माणसाची सर्वात मोठी समस्या इतिहासाचे दाखले ...,0
1,deepoffense_mr_t1_train_1,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,1
2,deepoffense_mr_t1_train_2,तुझे नोटिफिकेशन ऑन केलेत परंतु नाव दिसलं का श...,0
3,deepoffense_mr_t1_train_3,पांडुरंग हरी वासुदेव हरी तु तुझ्या घरी मी ...,0
4,deepoffense_mr_t1_train_4,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,1

In [139]:
deep_train_new.to_csv('deepoffense_mr_t1_train.csv', header=True, index=False)
deep_test_new.to_csv('deepoffense_mr_t1_test.csv', header=True, index=False)

In [102]:
deep_train_new = pd.DataFrame(pd.read_csv('deepoffense_mr_t1_train.csv'))
deep_test_new = pd.DataFrame(pd.read_csv('deepoffense_mr_t1_test.csv'))

In [140]:
lst = [deep_train_new, deep_test_new,]  # List of your dataframes
deep= pd.concat(lst)

In [141]:
deep.head()

,uid,text,label_yn
0,deepoffense_mr_t1_train_0,माणसाची सर्वात मोठी समस्या इतिहासाचे दाखले ...,0
1,deepoffense_mr_t1_train_1,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,1
2,deepoffense_mr_t1_train_2,तुझे नोटिफिकेशन ऑन केलेत परंतु नाव दिसलं का श...,0
3,deepoffense_mr_t1_train_3,पांडुरंग हरी वासुदेव हरी तु तुझ्या घरी मी ...,0
4,deepoffense_mr_t1_train_4,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,1

In [142]:
deep.shape

(1250, 3)

In [143]:
deep_train_new.shape

(625, 3)

In [144]:
deep.to_csv('deepoffense_mr_t1.csv', header=True, index=False)

In [157]:
deep_test = pd.DataFrame(pd.read_csv('MOLD_Testing.tsv',sep='\t'))
deep_train = pd.DataFrame(pd.read_csv('MOLD_Training.tsv',sep='\t'))

In [158]:
deep_test

,tweet,subtask_a,subtask_b,subtask_c
0,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,Offensive,TIN,IND
1,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,Offensive,TIN,OTH
2,तुम्ही काय गोट्या खेळायला राज्य सरकार मध्ये आ...,Offensive,TIN,OTH
3,शिवसेनेने निवडणुकीत स्वतंत्र बाणा ठेवावा.दळभद...,Offensive,TIN,GRP
4,माझा हंटर चांगलाच घुसलाय आईच्या पुच्चीत तुझ्य...,Offensive,TIN,IND
...,...,...,...,...
621,मिट्रो कोथरुड मध्ये टेस्टिंग सेंटर कुठे आहे ए...,not offensive,NaN,NaN
622,लग्न मुंज किंवा आणखी कोणते कार्या साठी 50 50...,not offensive,NaN,NaN
623,भारतातील सहिष्णूतेच पाहिलं कारण आहे भारतातील ...,not offensive,NaN,NaN
624,माझं मत एवढंच आहे की तुम्ही तुमचं चॅनेल मोफत...,not offensive,NaN,NaN
625,फक्त प्रेम कविता टाकून मिरवणाऱ्या ठोंब्यांनी ...,not offensive,NaN,NaN

In [159]:
deep_test.rename(columns = {'subtask_a':'label_yn','tweet':'text'}, inplace = True)
deep_train.rename(columns = {'subtask_a':'label_yn','tweet':'text'}, inplace = True)

In [160]:
for idx in range(len(deep_test)):
    deep_test.loc[idx,'uid'] = 'deepoffense_mr_t2_test_'+str(idx)

In [161]:
for idx in range(len(deep_train)):
    deep_train.loc[idx,'uid'] = 'deepoffense_mr_t2_train_'+str(idx)

In [162]:
deep_train.head()

,text,label_yn,subtask_b,subtask_c,uid
0,राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेप...,Offensive,TIN,GRP,deepoffense_mr_t2_train_0
1,हीच का तुमची शिवसेने चि शिकवण... आपली आई म्हणज...,Offensive,TIN,GRP,deepoffense_mr_t2_train_1
2,हे वाचा गाढवांनो. आणि हे ही सांगा की तुमच्या म...,Offensive,TIN,GRP,deepoffense_mr_t2_train_2
3,भक्त आंधळे असतात. मूर्खा ना काही कळत नाही.,Offensive,TIN,GRP,deepoffense_mr_t2_train_3
4,१९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...,Offensive,TIN,GRP,deepoffense_mr_t2_train_4

In [163]:
deep_test.head()

,text,label_yn,subtask_b,subtask_c,uid
0,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,Offensive,TIN,IND,deepoffense_mr_t2_test_0
1,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,Offensive,TIN,OTH,deepoffense_mr_t2_test_1
2,तुम्ही काय गोट्या खेळायला राज्य सरकार मध्ये आ...,Offensive,TIN,OTH,deepoffense_mr_t2_test_2
3,शिवसेनेने निवडणुकीत स्वतंत्र बाणा ठेवावा.दळभद...,Offensive,TIN,GRP,deepoffense_mr_t2_test_3
4,माझा हंटर चांगलाच घुसलाय आईच्या पुच्चीत तुझ्य...,Offensive,TIN,IND,deepoffense_mr_t2_test_4

In [164]:
deep_test.label_yn.value_counts()

not offensive    420
Offensive        206
Name: label_yn, dtype: int64

In [165]:
deep_test.label_yn.replace('Offensive', 1,inplace=True)
deep_test.label_yn.replace('not offensive', 0,inplace=True)
deep_train.label_yn.replace('Offensive', 1,inplace=True)
deep_train.label_yn.replace('not offensive', 0,inplace=True)

In [166]:
first_column = deep_train.pop('uid')
  

deep_train.insert(0, 'uid', first_column)

In [167]:
first_column = deep_test.pop('uid')
deep_test.insert(0, 'uid', first_column)

In [168]:
deep_test.head()

,uid,text,label_yn,subtask_b,subtask_c
0,deepoffense_mr_t2_test_0,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,1,TIN,IND
1,deepoffense_mr_t2_test_1,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,1,TIN,OTH
2,deepoffense_mr_t2_test_2,तुम्ही काय गोट्या खेळायला राज्य सरकार मध्ये आ...,1,TIN,OTH
3,deepoffense_mr_t2_test_3,शिवसेनेने निवडणुकीत स्वतंत्र बाणा ठेवावा.दळभद...,1,TIN,GRP
4,deepoffense_mr_t2_test_4,माझा हंटर चांगलाच घुसलाय आईच्या पुच्चीत तुझ्य...,1,TIN,IND

In [169]:
deep_test = deep_test[['uid','text','label_yn']]
deep_train = deep_train[['uid','text','label_yn']]

In [172]:
deep_test

,uid,text,label_yn
0,deepoffense_mr_t2_test_0,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,1
1,deepoffense_mr_t2_test_1,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,1
2,deepoffense_mr_t2_test_2,तुम्ही काय गोट्या खेळायला राज्य सरकार मध्ये आ...,1
3,deepoffense_mr_t2_test_3,शिवसेनेने निवडणुकीत स्वतंत्र बाणा ठेवावा.दळभद...,1
4,deepoffense_mr_t2_test_4,माझा हंटर चांगलाच घुसलाय आईच्या पुच्चीत तुझ्य...,1
...,...,...,...
621,deepoffense_mr_t2_test_621,मिट्रो कोथरुड मध्ये टेस्टिंग सेंटर कुठे आहे ए...,0
622,deepoffense_mr_t2_test_622,लग्न मुंज किंवा आणखी कोणते कार्या साठी 50 50...,0
623,deepoffense_mr_t2_test_623,भारतातील सहिष्णूतेच पाहिलं कारण आहे भारतातील ...,0
624,deepoffense_mr_t2_test_624,माझं मत एवढंच आहे की तुम्ही तुमचं चॅनेल मोफत...,0
625,deepoffense_mr_t2_test_625,फक्त प्रेम कविता टाकून मिरवणाऱ्या ठोंब्यांनी ...,0

In [173]:
deep_train

,uid,text,label_yn
0,deepoffense_mr_t2_train_0,राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेप...,1
1,deepoffense_mr_t2_train_1,हीच का तुमची शिवसेने चि शिकवण... आपली आई म्हणज...,1
2,deepoffense_mr_t2_train_2,हे वाचा गाढवांनो. आणि हे ही सांगा की तुमच्या म...,1
3,deepoffense_mr_t2_train_3,भक्त आंधळे असतात. मूर्खा ना काही कळत नाही.,1
4,deepoffense_mr_t2_train_4,१९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...,1
...,...,...,...
2494,deepoffense_mr_t2_train_2494,पण बरेच जण जन्मजात मंद मूर्ख आणि अंधभक्त अस...,1
2495,deepoffense_mr_t2_train_2495,कर्नाटक मध्ये जेव्हा छत्रपती शिवाजी महाराजांच...,1
2496,deepoffense_mr_t2_train_2496,मंद...सत्तेचे लालची तुम्ही म्हणून आज गुंडांना...,1
2497,deepoffense_mr_t2_train_2497,आयटी सेल वाले दळभद्री 🤣🤣🤣,1
2498,deepoffense_mr_t2_train_2498,मविआ चे चाटे काय गोट्या चोळत बसले काय नेत्यां...,1

In [174]:
deep_train.to_csv('deepoffense_mr_t2_train.csv', header=True, index=False)
deep_test.to_csv('deepoffense_mr_t2_test.csv', header=True, index=False)

In [175]:
deep_train= pd.DataFrame(pd.read_csv('deepoffense_mr_t2_train.csv'))
deep_test = pd.DataFrame(pd.read_csv('deepoffense_mr_t2_test.csv'))

In [176]:
lst = [deep_train, deep_test,]  
deep= pd.concat(lst)

In [177]:
deep.head()

,uid,text,label_yn
0,deepoffense_mr_t2_train_0,राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेप...,1
1,deepoffense_mr_t2_train_1,हीच का तुमची शिवसेने चि शिकवण... आपली आई म्हणज...,1
2,deepoffense_mr_t2_train_2,हे वाचा गाढवांनो. आणि हे ही सांगा की तुमच्या म...,1
3,deepoffense_mr_t2_train_3,भक्त आंधळे असतात. मूर्खा ना काही कळत नाही.,1
4,deepoffense_mr_t2_train_4,१९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...,1

In [178]:
deep.shape

(3125, 3)

In [179]:
deep.to_csv('deepoffense_mr_t2.csv', header=True, index=False)

# HASOC

In [180]:
deep_train = pd.DataFrame(pd.read_excel('mr_Hasoc2021_train.xlsx'))

In [181]:
deep_test = pd.DataFrame(pd.read_csv('hasoc2021_mr_test-blind-2021.csv'))

In [182]:
deep_test.head()

         text_id                                               text
0  hasoc_mr_1875  माणसाची सर्वात मोठी समस्या   इतिहासाचे दाखले द...
1  hasoc_mr_1876  मुद्दामहून थुकत बसला  ते पण दोस्तांना बोलवून म...
2  hasoc_mr_1877  तुझे नोटिफिकेशन ऑन केलेत परंतु नाव दिसलं का शि...
3  hasoc_mr_1878  पांडुरंग हरी  वासुदेव हरी  तु तुझ्या घरी  मी म...
4  hasoc_mr_1879  भेंचोद  जेव्हा कोरोना कोरोना चालू होतं तेव्हा ...

In [183]:
deep_train.head()

      text_id                                               text task_1
0  hasoc_mr_1  भारत 15 ऑगस्ट 1947 ला स्वतंत्र झाला आणि त्यानं...    NOT
1  hasoc_mr_2  स्वत ला हवा तसा बाइट किंवा प्रतिक्रिया घेण्यास...    NOT
2  hasoc_mr_3  5 व्या नंबरची अर्थव्यवस्था आहे भारताची जगात 20...    NOT
3  hasoc_mr_4      च्यायला म्हणजे दुबईचा फोन ही पुडीच निघाली की.    HOF
4  hasoc_mr_5  ह्याला खरंतर कधीच आत टाकला पाहिजे होता. पैसा आ...    HOF

In [184]:
deep_train.shape

(1874, 3)

In [159]:
deep_test.rename(columns = {'subtask_a':'label_yn','tweet':'text'}, inplace = True)
deep_train.rename(columns = {'subtask_a':'label_yn','tweet':'text'}, inplace = True)

In [160]:
for idx in range(len(deep_test)):
    deep_test.loc[idx,'uid'] = 'deepoffense_mr_t2_test_'+str(idx)

In [161]:
for idx in range(len(deep_train)):
    deep_train.loc[idx,'uid'] = 'deepoffense_mr_t2_train_'+str(idx)

In [162]:
deep_train.head()

,text,label_yn,subtask_b,subtask_c,uid
0,राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेप...,Offensive,TIN,GRP,deepoffense_mr_t2_train_0
1,हीच का तुमची शिवसेने चि शिकवण... आपली आई म्हणज...,Offensive,TIN,GRP,deepoffense_mr_t2_train_1
2,हे वाचा गाढवांनो. आणि हे ही सांगा की तुमच्या म...,Offensive,TIN,GRP,deepoffense_mr_t2_train_2
3,भक्त आंधळे असतात. मूर्खा ना काही कळत नाही.,Offensive,TIN,GRP,deepoffense_mr_t2_train_3
4,१९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...,Offensive,TIN,GRP,deepoffense_mr_t2_train_4

In [163]:
deep_test.head()

,text,label_yn,subtask_b,subtask_c,uid
0,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,Offensive,TIN,IND,deepoffense_mr_t2_test_0
1,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,Offensive,TIN,OTH,deepoffense_mr_t2_test_1
2,तुम्ही काय गोट्या खेळायला राज्य सरकार मध्ये आ...,Offensive,TIN,OTH,deepoffense_mr_t2_test_2
3,शिवसेनेने निवडणुकीत स्वतंत्र बाणा ठेवावा.दळभद...,Offensive,TIN,GRP,deepoffense_mr_t2_test_3
4,माझा हंटर चांगलाच घुसलाय आईच्या पुच्चीत तुझ्य...,Offensive,TIN,IND,deepoffense_mr_t2_test_4

In [164]:
deep_test.label_yn.value_counts()

not offensive    420
Offensive        206
Name: label_yn, dtype: int64

In [165]:
deep_test.label_yn.replace('Offensive', 1,inplace=True)
deep_test.label_yn.replace('not offensive', 0,inplace=True)
deep_train.label_yn.replace('Offensive', 1,inplace=True)
deep_train.label_yn.replace('not offensive', 0,inplace=True)

In [166]:
first_column = deep_train.pop('uid')

deep_train.insert(0, 'uid', first_column)

In [167]:
first_column = deep_test.pop('uid')
  
deep_test.insert(0, 'uid', first_column)

In [168]:
deep_test.head()

,uid,text,label_yn,subtask_b,subtask_c
0,deepoffense_mr_t2_test_0,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,1,TIN,IND
1,deepoffense_mr_t2_test_1,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,1,TIN,OTH
2,deepoffense_mr_t2_test_2,तुम्ही काय गोट्या खेळायला राज्य सरकार मध्ये आ...,1,TIN,OTH
3,deepoffense_mr_t2_test_3,शिवसेनेने निवडणुकीत स्वतंत्र बाणा ठेवावा.दळभद...,1,TIN,GRP
4,deepoffense_mr_t2_test_4,माझा हंटर चांगलाच घुसलाय आईच्या पुच्चीत तुझ्य...,1,TIN,IND

In [169]:
deep_test = deep_test[['uid','text','label_yn']]
deep_train = deep_train[['uid','text','label_yn']]

In [172]:
deep_test

,uid,text,label_yn
0,deepoffense_mr_t2_test_0,मुद्दामहून थुकत बसला ते पण दोस्तांना बोलवून...,1
1,deepoffense_mr_t2_test_1,भेंचोद जेव्हा कोरोना कोरोना चालू होतं तेव्हा...,1
2,deepoffense_mr_t2_test_2,तुम्ही काय गोट्या खेळायला राज्य सरकार मध्ये आ...,1
3,deepoffense_mr_t2_test_3,शिवसेनेने निवडणुकीत स्वतंत्र बाणा ठेवावा.दळभद...,1
4,deepoffense_mr_t2_test_4,माझा हंटर चांगलाच घुसलाय आईच्या पुच्चीत तुझ्य...,1
...,...,...,...
621,deepoffense_mr_t2_test_621,मिट्रो कोथरुड मध्ये टेस्टिंग सेंटर कुठे आहे ए...,0
622,deepoffense_mr_t2_test_622,लग्न मुंज किंवा आणखी कोणते कार्या साठी 50 50...,0
623,deepoffense_mr_t2_test_623,भारतातील सहिष्णूतेच पाहिलं कारण आहे भारतातील ...,0
624,deepoffense_mr_t2_test_624,माझं मत एवढंच आहे की तुम्ही तुमचं चॅनेल मोफत...,0
625,deepoffense_mr_t2_test_625,फक्त प्रेम कविता टाकून मिरवणाऱ्या ठोंब्यांनी ...,0

In [173]:
deep_train

,uid,text,label_yn
0,deepoffense_mr_t2_train_0,राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेप...,1
1,deepoffense_mr_t2_train_1,हीच का तुमची शिवसेने चि शिकवण... आपली आई म्हणज...,1
2,deepoffense_mr_t2_train_2,हे वाचा गाढवांनो. आणि हे ही सांगा की तुमच्या म...,1
3,deepoffense_mr_t2_train_3,भक्त आंधळे असतात. मूर्खा ना काही कळत नाही.,1
4,deepoffense_mr_t2_train_4,१९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...,1
...,...,...,...
2494,deepoffense_mr_t2_train_2494,पण बरेच जण जन्मजात मंद मूर्ख आणि अंधभक्त अस...,1
2495,deepoffense_mr_t2_train_2495,कर्नाटक मध्ये जेव्हा छत्रपती शिवाजी महाराजांच...,1
2496,deepoffense_mr_t2_train_2496,मंद...सत्तेचे लालची तुम्ही म्हणून आज गुंडांना...,1
2497,deepoffense_mr_t2_train_2497,आयटी सेल वाले दळभद्री 🤣🤣🤣,1
2498,deepoffense_mr_t2_train_2498,मविआ चे चाटे काय गोट्या चोळत बसले काय नेत्यां...,1

In [174]:
deep_train.to_csv('deepoffense_mr_t2_train.csv', header=True, index=False)
deep_test.to_csv('deepoffense_mr_t2_test.csv', header=True, index=False)

In [175]:
deep_train= pd.DataFrame(pd.read_csv('deepoffense_mr_t2_train.csv'))
deep_test = pd.DataFrame(pd.read_csv('deepoffense_mr_t2_test.csv'))

In [176]:
lst = [deep_train, deep_test,]  
deep= pd.concat(lst)

In [177]:
deep.head()

,uid,text,label_yn
0,deepoffense_mr_t2_train_0,राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेप...,1
1,deepoffense_mr_t2_train_1,हीच का तुमची शिवसेने चि शिकवण... आपली आई म्हणज...,1
2,deepoffense_mr_t2_train_2,हे वाचा गाढवांनो. आणि हे ही सांगा की तुमच्या म...,1
3,deepoffense_mr_t2_train_3,भक्त आंधळे असतात. मूर्खा ना काही कळत नाही.,1
4,deepoffense_mr_t2_train_4,१९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...,1

In [178]:
deep.shape

(3125, 3)

In [179]:
deep.to_csv('deepoffense_mr_t2.csv', header=True, index=False)